.btn {
  padding: 4px;
  background: #fff;
  border-radius: var(--corners);
  border: var(--borders);
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

.active {
  cursor: pointer;
  background: var(--secondary-color);
  color: #fff;
}

.btn:focus {
  outline: none;
}