.formBox {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: var(--corners);
  border: var(--borders);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.input {
  width: 100%;
  margin: 4px 0;
  padding: 4px 0;
  border: none;
  border-bottom: 2px solid var(--main-color);
  font-size: 16px;
  font-family: inherit;
}

.input:focus {
  outline: none;
  border-bottom: 4px solid var(--main-color);
}

.textarea {
  min-height: 100px;
}

.errorBox {
  margin-bottom: 16px;
  color: var(--error-color);
  font-size: 0.9em;
}

.btn {
  cursor: pointer;
  padding: 8px;
  background: #fff;
  border-radius: var(--corners);
  border: var(--borders);
  font-size: 18px;
  font-weight: bold;
  margin: 12px;
}

.inactiveBtn {
  cursor: auto;
  color: var(--grey);
  border: var(--borders-grey);
}

.mainBtn {
  background: var(--secondary-color);
}

.btn:focus {
  outline: none;
}
