.mainBox {
  background: var(--main-color);
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
}

.formBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  margin: 4px 0;
  padding: 16px;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 16px;
  font-family: inherit;
}

.input:focus {
  outline: none;
}

.textarea {
  min-height: 100px;
}

.errorBox {
  margin-bottom: 16px;
  color: var(--error-color);
  font-size: 0.9em;
}
