.toast {
  background: var(--third-color);
  border: var(--borders);
  border-radius: var(--corners);
  width: 240px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: -32px;
  right: 8px;
  z-index: 1;
  transition: all ease 0.5s;
}

.active {
  top: 72px;
}

.btn {
  cursor: pointer;
  user-select: none;
}