.header {
  font-size: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--main-color);
}

.hamburger {
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

.menuIcon {
  height: 36px;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }
}