.header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 16px);
  height: 60px;
  padding: 0 16px;
  background: var(--main-color);
  border-radius: var(--corners);
  margin: 8px;
}

.title {
  font-size: inherit;
}

.hamburger {
  cursor: pointer;
  user-select: none;
  font-size: 30px;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}