.header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  border-bottom: var(--borders);
  background: var(--third-color);
}

.title {
  font-size: inherit;
}

.hamburger {
  cursor: pointer;
  user-select: none;
  font-size: 30px;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}