.card {
  background: #fff;
  padding: 16px;
  border: none;
  border: var(--borders);
  border-radius: var(--corners);
  margin: 8px;
}

.company {
  font-size: 20px;
  color: var(--main-color);
}

.city {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.editPart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
}

.imgWrap {
  position: relative;
}

.imgInfo {
  display: none;
  width: 64px;
  position: absolute;
  top: -4px;
  left: -64px;
  text-align: center;
  background: var(--secondary-color);
  border-radius: var(--corners);
  font-size: 14px;
  padding: 4px;
}

.imgWrap:hover .imgInfo {
  display: block;
}

.img {
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-left: 10px;
}

.imgEdit {
  background-image: url("../../img/icons8-edit-g.png");
}

.imgEdit:hover {
  background-image: url("../../img/icons8-edit.svg");
}

.imgDelete {
  background-image: url("../../img/icons8-remove-g.png");
}

.imgDelete:hover {
  background-image: url("../../img/icons8-remove.svg");
}

.date {
  font-size: 13px;
}

.text {
  font-size: 16px;
  margin-top: 4px;
}

.link {
  color: var(--main-color);
}