.card {
  background: #fff;
  padding: 16px;
  border: none;
  border: var(--borders);
  border-radius: var(--corners);
  margin: 8px;
}

.topPart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin-bottom: 2px;
}

.company {
  font-size: 18px;
}

.date {
  font-size: 13px;
}

.city {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

.text {
  font-size: 15px;
  margin-top: 4px;
}