.modalBackground {
  background: var(--main-color-op);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal {
  font-size: 18px;
  background: #fff;
  border-radius: var(--corners);
  padding: 48px 16px;
  width: 90%;
  max-width: 800px;
  text-align: center;
}

.text {
  margin: 12px auto;
}

.btn {
  cursor: pointer;
  padding: 8px;
  background: #fff;
  border-radius: var(--corners);
  border: var(--borders);
  font-size: 18px;
  font-weight: bold;
  margin: 12px;
}

.mainBtn {
  background: var(--secondary-color);
  color: #fff;
}

.btn:focus {
  outline: none;
}