:root {
  --main-color: #551a4f;
  --main-color-op: #b0c5d196;
  --secondary-color: #dce4e7;
  --third-color: #aebcc5;
  --grey: #a0a0a0;
  --error-color: #ca1d3a;
  --corners: 16px;
  --corners-left: 16px 0 0 16px;
  --corners-right: 0 16px 16px 0;
  --borders: 2px solid var(--main-color);
  --borders-grey: 2px solid var(--grey);
  --borders-thin: 2px solid var(--main-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
