:root {
  --main-color: #9ecc9e;
  --secondary-color: #527752;
  --third-color: #147464;
  --error-color: #ac172f;
  --shadow: 0 0 10px var(--secondary-color), 0 0 2px #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
