.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: calc(100% - 16px);
  top: -180px;
  border-radius: var(--corners);
  margin: 8px;
  background: var(--third-color);
  border: var(--borders);
  z-index: 2;
  transition: cubic-bezier(0.42, -0.33, 0.54, 1.31) 0.8s;
}

.navOpen {
  display: flex;
  top: 60px;
}

.link {
  display: block;
  width: 100%;
  text-align: right;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  padding: 16px;
  border-bottom: 2px dashed var(--main-color);
}

.link:last-child {
  border-bottom: none;
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    width: 210px;
    top: 60px;
  }

  .link {
    text-align: left;
  }
}